body{
    margin: 5px;
    font-family: 'Comfortaa', cursive;
}
.top-header{
    border: 5px solid lightgreen;
    
    height: 1000px;
    background-image: url(header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 }
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 40px;
    text-align: center;
}
p{
    color: dimgray;
    text-align: center;
}
.orange-highlight{
    color: blue;
}
.half-width-left{
    width:30%;
    margin-left:5%;
    float: left;
    padding-left:2%;
}
.half-width-right{
    width: 5%;
    margin-left: 10%;
    float: left;
    padding-left: 2%;
}
.left-top-margin{
    margin-top: 10%;
}
.half-width-right{
    margin-top: 1%;
    margin-bottom: 1%;
}
.half-width-right img{
    margin-top: 35%;
    width: 800px;
    height: 800px;
}


.image-size{
    width: 20%;
}


    
}

.hire-link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.biography-area{
    background-image: url(biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}
.left-img{
    width: 200px;
    margin-left: 1%;
}
.bio-content{
    margin-top: 20%;
    float: left;
}

.latestwork-area{
    background-image: url(latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.latest-work{
    height: 20px;
    width: 20px;
    margin-top: 1%;
    float: left;
}
.half-width-left img{
    margin-top: 25%;
    width: 600px;
    height: 600px;
}
.half-width-right img{
    margin-top: 25%;
    width: 600px;
    height: 600px;
}
.border{
    width: 50%;
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    
  }
  .divider {
    height:30px;
    padding-bottom: 10px;
    width: 100%;
    margin: 20px auto;
    float: left;
    width: 50%;
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    }

width: 800px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    margin: 0;